body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("books.jpg");
    background-size: cover;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    /* background-color: grey; */
}
  
h1 {
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    box-shadow: 10px 10px 12px black;
    margin-bottom: 50px;
    padding: 8px 22px;
    border-radius: 10px;
    letter-spacing: 4px;
}

.quiz-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    transition: 0.7s ease-in-out;
}

.category a {
    padding-top: 70px;
    height: 120px;
    width: 300px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.category:hover {
    background-color: #e0e0e0;
    transform: scale(1.2);
    cursor: pointer;   
}
